Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 109
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb


urxvt*cursorUnderline: 1
urxvt*letterspace: -5
!urxvt*fading: 			10
!urxvt*fadeColor: 		#000000	
urxvt*cursorBlink:		true
urxvt*scrollBar:		false
urxvt*depth:			32 
urxvt*internalBorder: 		5
urxvt*dynamicColors: on
urxvt.urgentOnBell:  true
urxvt.savelines:		20000
rxvt.savelines:			20000


urxvt.clipboard.autocopy: true 
urxvt.keysym.M-c:   perl:clipboard:copy
urxvt.keysym.M-v:   perl:clipboard:paste
urxvt.keysym.M-C-v: perl:clipboard:paste_escaped


! Font change settings
urxvt*font: xft:UbuntuMono-R:size=12
urxvt*boldFont: xft:UbuntuMono-B:size=12

!urxvt*font: xft:dejavu sans mono:size=10
!urxvt*boldFont: xft:dejavu sans mono:bold:size=10
!urxvt*italicFont: xft:dejavu sans mono:italic:size=10


! #########################################
! BW ON WHITE
! #########################################

! Dracula Xresources palette
 *.foreground: #F8F8F2
 *.background: #282A36
 *.color0:     #000000
 *.color8:     #4D4D4D
 *.color1:     #FF5555
 *.color9:     #FF6E67
 *.color2:     #50FA7B
 *.color10:    #5AF78E
 *.color3:     #F1FA8C
 *.color11:    #F4F99D
 *.color4:     #BD93F9
 *.color12:    #CAA9FA
 *.color5:     #FF79C6
 *.color13:    #FF92D0
 *.color6:     #8BE9FD
 *.color14:    #9AEDFE
 *.color7:     #BFBFBF
 *.color15:    #E6E6E6

