[Unit]
Description=Set Wallpaper
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/hsetroot -solid "#939393"

[Install]
WantedBy=bspwm-session.target
