[Unit]
Description=Apply Xresources file
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xrdb -merge "%h/.Xresources"

[Install]
WantedBy=bspwm-session.target